<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to the Service Management Portal</h1>
    <p class="lead">Streamline your service operations with our powerful management tools</p>
    <p>Get started with just one click - request a service anytime, anywhere.</p>

    <hr class="my-4">
    <div class="cta-wrapper">
      <a class="btn btn-primary btn-lg" href="/about" role="button">
        Learn More <i class="fas fa-arrow-right ml-2"></i>
      </a>
    </div>
  </div>
</div>